PORT=your app port (optional, default 5000)
# postgres://password:user@domain:port/database_name
DATABASE_URL=your database connection string (required)
DATABASE_DIALECT=your database dialect (optional, default postgres)
JWT_PUBLIC_KEY=jwt public key
DEFAULT_ADMIN=andela email address to set default admin
BUGSNAG_API_KEY=Bugsnag project api key
REDIRECT_URL=frontend baseurl
MAILGUN_API_KEY=mailgun api key
MAILGUN_DOMAIN_NAME=mailgun domain name
MAIL_SENDER=travel sender mail
APP_EMAIL=travela app email
CLOUDINARY_CLOUD_NAME=cloudinary cloud name
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=cloudinary api secret
CLOUDINARY_ENHANCE_IMAGE=enhance image boolean
CLOUDINARY_STATIC_IMAGE=static image boolean
TRAVEL_READINESS_MAIL_CYCLE=time elapsed before the cron job tries to send travel readiness emails e.g * * 2 * * * is 2 hours
